body {
    text-align: center;
    background-color: floralwhite;
}

.sticky {
    position: -webkit sticky;
    position: sticky;
    top: 0px;
    z-index: 1;
}

div.nav {
    background-color: lightblue;
    font-size: 20px;
}

ul.nav {
    background-color: lightblue;
    clear: both;
    list-style-type: none;
    padding: 0;
}

li.nav {
    float: left;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: lightblue;
    z-index: 1;
}

.dropdown-content .navButton:hover {
    background-color: lightblue;
}

.dropdown:hover .dropdown-content {
    display: block;
}

ul.nav a{
    text-decoration: none;
    color: darkblue;
}

.navButton, .dropButton{
    display: inline-block;
    background-color: lightgreen;
    padding: 10px;
}

.navButton a {
    min-width: inherit;
}

.nav .navButton:hover{
    background-color: aliceblue;
}

.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}