div.left {
    width: 30%;
    background-color: palevioletred;
    display: inline-block;
    float: left;
}

div.right {
    width: 60%;
    background-color: skyblue;
    display: block;
    float: right;
}

div.browsing {
    border: 1px solid red;
    border-radius: 10px;
}



/* Left side posts */
div.post {
    padding: 0px 20px 20px;
    border-radius: 10px;
    margin: auto;
    position: relative;
    z-index: 0;
}

div.picture {
    background-color: aquamarine;
}

div.comments {
    border: 2px Solid aquamarine;
}

/* Right side communities */
div.comm {
    padding: 0px 20px 20px;
    margin: auto;
    position: relative;
    z-index: 0;
}

img {
    width: 100%;
}

comm.sticky {
    position: -webkit sticky;
    position: sticky;
    z-index: 0;
}

div.header {
    background-color: lightgreen;
    border-radius: 10px;
    top: 50px;
}

div.minipost {
    background-color: aquamarine;
    width: inherit;
}